.project-lists-container {
    /* display: flex; */
    width: 100%;
}

.project-list {
    list-style: none;
    padding-bottom: 20px;
    min-height: 200px;
}

.assigned-projects-background {
    background-image: url('../imgs/draganddrop.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain; /* or cover, depending on the look you want */
}

.project-item {
    background-color: #f0f0f0;
    cursor: move;
    border: 1px solid black;
    width: 95%;
}

.available-projects {
    border: 1px solid green;
}

.assigned-projects {
    border: 1px solid red;
}
