.project-lists-container {
    display: flex;
}

.available-projects, .assigned-projects {
    width: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    min-height: 200px;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-item {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px 0;
    cursor: move;
    border: 1px solid black;
    width: 95%;
}