.project-lists-container {
    display: flex;
    width: 100%;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-item {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px 0;
    cursor: move;
    border: 1px solid black;
    width: 95%;
}

.available-projects {
    border: 1px solid green;
}

.assigned-projects {
    border: 1px solid red;
}

.sortable-list {
    min-height: 300px;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    list-style: none;
    overflow-y: auto;
}